<app-navbar-about></app-navbar-about>
<!-- <app-navbar></app-navbar> -->
<section class="home">
  <div class="container-fluid">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3 col-xs-3 home-image">
                <img src="./assets/images/img11.png" class="card-img-top" alt="">
            </div> -->
            <div class="col-md-3 col-mx-3 home-image1" style="margin-top: 6%;">
                <h1 style="font-family: 'Times New Roman', Times, serif; color: black;"><span style="color: red;">K</span>nowledge <span style="color: red;">H</span>ub</h1>

            </div>
            <br>
            <h3 style="font-family: 'Times New Roman', Times, serif;font-style: italic;" >The more you share, the more you learn. <br> The more you learn, the more you grow.</h3>

            <!-- <h4>Sharing knowledge is not about giving people something,<br> but helping them discover something within themselves.</h4> -->

            <!-- <div class="col-md-4 home-image2">
                <img src="./assets/images/homeimg.png"  class="card-img-top" alt="">
            </div> -->
        </div>
    </div>
  </div>
</section>
<!-- <section class="md-6">
    <div class="banner">
        <h1 class="banner_title">
           </h1>
            <div class="banner_buttons">
                <p class="desc"></p>
               
            </div>
    </div>   
</section>-->
<app-faq></app-faq>
<app-footer></app-footer> 

