
.register{
background-image: url(/assets/images/image3.jpg);    
}
.container-fluid .container .form-file {
   
    justify-content: center;
  align-items: center;
    text-align: center;
}
.container-fluid .container .form-file .img-line {
  
    z-index: 2;
    margin:  225px 0 50px 0;
   
}
.container-fluid .container .row form{
    padding: 25px 25px 25px 25px;
    border: 2px solid black;
    margin:  200px 0 80px 0;
    background-color: #d9d9d9;
    border-radius: 45px;
    position: relative;
    left: -88px;
    z-index: 1;
    box-shadow: 2px 2px 3px 3px greenyellow;
   
    
}
.container-fluid .container .row form .input-data{
   margin-top: 20px;
   margin-right: 45px;
  
    
}
.container-fluid .container .row form .input-data input{
   
  margin-top: 15px;
  margin-left: 30px;
     
 }
 .container-fluid .container .row form .input-data button{
  margin-top: 25px;
   border-radius: 8px;
   background-color: black;
   color: white;
      
  }
  .container-fluid .container .row form .input-data button:hover{
    
    background-color:white;
    color:black;
       
   }
.container-fluid .container .row .register-bg{
   
    background-color: blue;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px grey;
    color: white;
}
.container-fluid .container .row form h1{
   text-align: center;
    
}
select{
  margin-top: 25px;
}

@keyframes comehere{
  from{
    transform: translateX(400px);
  }
  to{
    transform: translateX(0px);
  }
}

.container-fluid .container .row form{
  animation-name: comehere;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s ;
  animation-iteration-count: 1;
  animation-direction: normal;
}
@keyframes cometo{
  from{
    transform: translateX(-400px);
  }
  to{
    transform: translateX(-0px);
  }
}
img{
  animation-name: cometo;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s ;
  animation-iteration-count: 1;
  animation-direction: normal;
}