<section class="register">
  <div class="container-fluid">
    <div class="container">
      <div class="row form-file">
        <div class="col-md-3 img-line">
          <img src="./assets/images/img10.png" class="card-img-top" alt="" />
        </div>
        <div class="col-md-5">
          <form action="">
            <div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 register-bg">
                  <h1>Register</h1>
                </div>
              </div>
            </div>

            <div class="input-data">
              <input
                type="text"
                placeholder="Enter your name"
                class="form-control"
              />

              <input
                type="text"
                placeholder="Enter your contact"
                class="form-control"
              />

              <input
                type="email"
                placeholder="Enter your email"
                class="form-control"
              />
              <div class="row">
                <div class="col-md-5">
                  <input type="date" class="form-control" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 select1">
                  <select name="" id="">
                    <option value="">Select Qualification</option>
                    <option value="">Primary Student</option>
                    <option value="">Secondary Student</option>
                    <option value="">Under-Graduate</option>
                    <option value="">Post-Graduate</option>
                    <option value="">others</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input
                    type="password"
                    placeholder=" password"
                    class="form-control"
                  />
                </div>

                <div class="col-md-6">
                  <input
                    type="password"
                    placeholder="confirm password"
                    class="form-control"
                  />
                </div>
              </div>
              <button>Register</button>
            </div>
            <!-- <p>Already have an account? <a href="" (click)="loginhere()">login</a></p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
