<section class="ideas">
    <div class="container-fluid">
        <div class="container">
            <div class="row head">
                <div class="col-md-12">
                    <h1><b>Your's Valuable Ideas</b></h1>
                </div>

            </div>
            <div class="row image-file1">
                <div class="col-md-3 ">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/images/ideas1.jpeg" alt="" class="card-img-top">
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 place">
                    <h3><b>Place your:</b></h3>
                   <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>-> Concept</h5>
                        </div>
                        <div class="col-md-12">
                            <h5>-> Thought</h5>
                        </div>
                        <div class="col-md-12">
                            <h5>-> Notion</h5>
                        </div>
                        <div class="col-md-12">
                            <h5>-> Suggestion</h5>
                        </div>
                        <div class="col-md-12">
                            <h5>-> Opinion</h5>
                        </div>
                        <div class="col-md-12 place2">
                            <button routerLink="postideas"><b>Go to</b></button>
                        </div>
                    </div>
                   </div>
                </div>
              
                <div class="col-md-4 search1">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Search here">
                            <button>search</button>
                        </div>
                        <div class="col-md-12" id="menu">
                            <div *ngFor="let t of Content">
                                <span>{{t.name}}:</span>
                               <span><p>{{t.desc}}</p></span>
                           </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
