<app-navbar></app-navbar>
<section class="home">
  <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-3 home-image">
                <img src="./assets/images/img11.png" class="card-img-top" alt="">
            </div>
            <div class="col-md-4 col-mx-5 home-image1">
                <h1> Science Hub</h1>
            </div>
            <div class="col-md-5 home-image2">
                <img src="./assets/images/image6.jpg"  class="card-img-top" alt="">
            </div>
        </div>
    </div>
  </div>
</section>
