.home{
    height: 500px;
    background: url(/assets/images/image3.jpg);
    background-size: cover;
    background-position: center;
}
.home .container-fluid .container .row .home-image{
   
    mix-blend-mode: multiply;
    position: relative;
    top: 45px;
}
.home .container-fluid .container .row .home-image1{
    padding-top: 65px;
   text-align: center;
   color: white;
   
}
.home .container-fluid .container .row .home-image2{
    
    mix-blend-mode: multiply;
    position: relative;
    top: 165px;
}