<!-- <app-navbar></app-navbar> -->
<section class="home">
  <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-3 home-image">
                <img src="./assets/images/img11.png" class="card-img-top" alt="">
            </div>
            <div class="col-md-3 col-mx-3 home-image1" style="margin-top: 10%;">
                <h1> Science_Hub</h1>
              
            </div>
            <div class="col-md-4 home-image2">
                <img src="./assets/images/homeimg.png"  class="card-img-top" alt="">
            </div>
        </div>
    </div>
  </div>
</section>
<app-faq></app-faq>
<app-footer></app-footer>
