
#navbarSupportedContent{
    justify-content: center;
   
}
#navbarSupportedContent ul{
    position: absolute;
   /* float: right; */
    
}
.navbar
{
    background-color: #F1F2F5;
}

 .mainhome{
    background-color: black;
    height: 60px;
    
}
.mainhome .menuitem{
    float: right;
    position: relative;
}
.mainhome .menuitem .submenu{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #B8BCF8;
    color: black
}
.nav-link
{
   color: rgb(8, 8, 8);
  
}
.nav-link:hover
{
    /* background-color: red; */
    color: red;
}
.mainhome2 .items2:hover .submenu{
   display: block;
   cursor: pointer;
}
.subitem:hover{
    background-color: yellow;
}
/* .submenu .subitem
{
    color: ;
} */
a{
    text-decoration: none;
    
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: aqua;
  
  }

.mainhome2 a{
margin-right: 20px;
/* margin: 10px; */
margin-top: 2px;
color: white;
/* padding: 7%; */
/* margin: 3%; */
font-family: 'Times New Roman', Times, serif;
font-size: 1rem;
}
.mainhome2 a:hover{
    /* background-color: rgb(245, 67, 12); */
 /* border-radius: 2rem;
 border: solid red;
 transition: 0.8s; */
 color: yellow;
    /* padding-top: 2%; */
    
    /* border-radius: 0.5rem; */
    }

   