<div *ngIf="check; then ifblock; else elseblock"></div>
<ng-template #ifblock>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <img src="../../../assets/images/logo.png" alt="" width="50px" height="50px">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="">Home</a>
              </li>
              <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="login">Login</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#"
                  value="change"
                  (click)="onclick($event)"
                  >Projects</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</ng-template>
<ng-template #elseblock>
  <section>
    <nav class="mainhome">
      <div class="container-fluid">
        <div class="row" style="padding-top: 15px;">
          <div class="col-md-1" >
            <a href="">Profile</a>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-6 mainhome2">
            <div class="menuitem">
              <a href="" routerLink="ideas">Post Ideas</a>
            </div>
            <div class="menuitem items2">
              <a href="">Post Projects</a>
              <div class="submenu">
                <div class="subitem" routerLink="project">Science</div>
                <div class="subitem" routerLink="project">Blockchain</div>
                <div class="subitem" routerLink="project">Technical</div>
                <div class="subitem" routerLink="project">Others</div>
              </div>
            </div>
            <div class="menuitem">
              <a href="" routerLink="mainhome">Main Menu</a>
            </div>
          </div>
          <div class="col-md-1">
            <a href="" (click)="logout()">LogOut</a>
          </div>
        </div>
      </div>
    </nav>
  </section>
</ng-template>
