<div *ngIf="check; then ifblock; else elseblock"></div>
<ng-template #ifblock>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-secondary ">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <img src="../../../assets/images/logoremove.png" alt="" width="70px" height="50px"><b style="padding-left: 10px; font-family: 'Times New Roman', Times, serif;font-size: 1.5rem; color: black"><span style="color:red">K</span>nowledge <span style="color: red;">H</span>ub</b> 
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: 'Times New Roman', Times, serif;">
          
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 60%;">
              <li class="nav-item">
                <a class="nav-link " href="" routerLink="">Home</a>
              </li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="" routerLink="/login">Login</a>
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  href="#"
                  value="change"
                  (click)="onclick($event)"
                  >Projects</a
                >
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</ng-template>
<ng-template #elseblock>
  <section>
    <nav class="mainhome">
      <div class="container-fluid">
        <div class="row" style="padding-top: 15px;">
          <div class="col-md-1" >
            <a href="" style="color: aqu;">Profile</a>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-6 mainhome2">
            <div class="menuitem">
              <a href="" routerLink="ideas">Post Ideas</a>
            </div>
            <div class="menuitem items2">
              <a href="">Post Projects</a>
              <div class="submenu">
                <div class="subitem" routerLink="project">Science</div>
                <div class="subitem" routerLink="project">Blockchain</div>
                <div class="subitem" routerLink="project">Technical</div>
                <div class="subitem" routerLink="project">Others</div>
              </div>
            </div>
            <div class="menuitem">
              <a href="" routerLink="mainhome">Main Menu</a>
            </div>
          </div>
          <div class="col-md-1 logout" >
            <a href="" (click)="logout()">LogOut</a>
          </div>
        </div>
      </div>
    </nav>
  </section>
</ng-template>
