
#navbarSupportedContent{
    justify-content: center;
}
#navbarSupportedContent ul{
    position: absolute;
}

 .mainhome{
    background-color: black;
    height: 60px;
    
}
.mainhome .menuitem{
    float: right;
    position: relative;
}
.mainhome .menuitem .submenu{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: rgb(95, 93, 93);
    color: aliceblue;
}
.nav-link:hover
{
   color: brown;
}
.mainhome2 .items2:hover .submenu{
   display: block;
   cursor: pointer;
}
.subitem:hover{
    background-color: rgb(118, 247, 86);
}
a{
    text-decoration: none;
    
}


.mainhome2 a{
margin-right: 20px;
color: white;
padding-top: 10%;
font-family: 'Times New Roman', Times, serif;
font-size: 1rem;
}
.mainhome2 a:hover{
    background-color: rgb(245, 67, 12);
    border-radius: 0.5rem;;
    }

   