.faq
{
    max-width: 900px;
    margin-left: 18rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
}
.head
{
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
   
}