<h1 class="head">Related Benefits from our Platform</h1>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Are you looking for collaborators or feedback on your project?</strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Our platform aims to provide a user-friendly solution for [specific problem].
            The scope of our project is [specific functionality] with a target audience of [target users].
            We utilized technologies such as [list of technologies] to develop our project.
            During the project development, we faced challenges such as [specific challenges] but successfully overcame them..
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <strong>Are you want post an idea , publish your project,team etc?</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          In our platform we are providing the posted projects and also you can post your projects ,You can build a team with related collaborators ,You can promote an ideas for yourself you visit an valuable
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         <strong>Are you open to collaboration or seeking feedback to further develop the idea?</strong>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          We welcome collaboration and feedback to refine and expand upon the idea.
        </div>
      </div>
    </div>
  </div>