.faq
{
    max-width: 900px;
    margin-left: 18rem;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
.head
{
    font-family: 'Times New Roman', Times, serif;
    background-color:#f1efec;
    color: black
   
}
.head
{
    margin-top: 1%;
   
    text-align: center;
}
strong{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}