<section>
  <div class="cintainer-fluid">
    <div class="container">
      <div class="login-page">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2 sideimage">
            <img src="../assets/images/img7.jpg" alt="" width="200" />
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-7 ">
            <div class="form">
              <div class="login">
                <div class="login-header">
                  <h3><b>LOGIN</b></h3>
                  <p><b>Please enter your credentials to login.</b></p>
                </div>
              </div>
              <form class="login-form">
                <div class="profile">
                  <img src="./assets/images/image2.jpg" class="card-img-top" alt="">
                </div>
               
                <input type="text" class="form-control" placeholder="Username" />
                <input type="Email"class="form-control" placeholder="Email" />
                <button>login</button>
               <b> <p class="message">Not registered?  <a><b>Create an account</b></a></p> </b>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
