<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./login.component.css">
<title> CSS Login Screen Tutorial </title>
</head>
<body>
    <div class="login-page">
      <img src="../assets/images/img7.jpg" alt="" width="200">
    <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
           </div>
        </div>
        <form class="login-form">
          <input type="text" placeholder="Username"/>
          <input type="Email" placeholder="Email"/>
          <button>login</button>
          <p class="message">Not registered? <a>Create an account</a></p>
          </form>
    </div>
  </div>
</body>
</html>