.container-fluid .container .project{
    /* border: 2px solid red; */
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.466); 
    /* background-position: center; */
    background-size: cover;
    border-radius: 4rem;
    
}
h3{
    margin-top: 10px;
}
.container-fluid .container .project .project1{
    border: 4px solid rgb(219, 250, 46);
    margin: 45px 0 45px 0;
    box-shadow: 0 0 5px 10px black;
    border-top-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    background-color: rgb(236, 169, 169);

}
.container-fluid .container .project .project1 h3{
    text-align: center;
}
.container-fluid .container .project .project1 .project11{
    /* border: 2px solid rgb(0, 81, 255); */
}
.container-fluid .container .project .project1 .button1 button{
    margin: 35px;
    float: right;
    border-radius: 3rem;
    background-color: aqua;
    /* color: brown; */
}
.container-fluid .container .project .project1 .button1 button:hover{
    margin: 35px;
    float: right;
    border-radius: 5px;
    background-color: rgb(6, 7, 7);
   color: white;
}

@keyframes project{
    from{
     transform: translateX(400px);
     background-color: rgb(180, 76, 76);

    }
    to{
        transform: translateX(0px);
        background-color: rgb(236, 169, 169);
    }
}
.container-fluid .container .project .project1{
    animation-name: project;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-delay: 0s ;
    animation-iteration-count: 1;
    animation-direction: normal;

}
