<app-navbar-about></app-navbar-about>
<section>
<div class="container-fluid">
    <div class="container">
        <div class="row project">
            
            <div class="col-md-5 project1">
                <form action="" [formGroup]="projectForm">
                    <div>
                        <h3>Upload Your Project Here!!</h3>
                    </div>
                    <div ><img src="../../../assets/images/upload.png" alt="" width="250px" height="150px" style="margin-left: 25%;"></div>
                    <hr>
                    <div class="project11">
                        <label for="">Project Title:</label>
                        <input formControlName="projectname" type="text" class="form-control">
                        <small *ngIf="projectForm.controls['projectname'].dirty && projectForm.hasError('required','projectname')" class="text-danger">*projectname is required</small>
                    </div>
                    <br>
                    <div class="project11">
                        <label for="">Project Images:</label>
                        <input formControlName="projectimage" type="file" class="form-control">
                        <small *ngIf="projectForm.controls['projectimage'].dirty && projectForm.hasError('required','projectimage')" class="text-danger">*projectimage is required</small>
                    </div>
                    <br>
                    <div class="project11">
                        <label for="">Project Description:</label>
                        <textarea formControlName="projectdesc" name="" id="" cols="30" rows="5" class="form-control"></textarea>
                        <small *ngIf="projectForm.controls['projectdesc'].dirty && projectForm.hasError('required','projectdesc')" class="text-danger">*project description is required</small>
                    </div>
                    <div class="project11">
                        <p class="mt-2">Do You Want To Sell Your Project?</p>
                         <input type="radio" name="purchase" value="yes"><span class="mr-1">Yes</span><br><input type="radio" value="No" name="purchase"><span>No</span>
                    </div>
                    <div class="project11">
                        <label for=""></label>
                        <label for="">Upload Your Final Project video</label>
                        <input formControlName="projectimage" type="file" class="form-control">
                        <small *ngIf="projectForm.controls['projectimage'].dirty && projectForm.hasError('required','projectimage')" class="text-danger">*projectimage is required</small>
                        
                    </div>
                    <div class="project11">
                        <label for="" class="mt-2">Payement Details:</label>
                        <!-- <textarea formControlName="projectdesc" name="" id="" cols="30" rows="5" class="form-control"></textarea> -->
                        <input type="number" placeholder="Enter UPI Number"  class="form-control mt-2" >
                        <input type="text" placeholder="Enter UPI Id Name" class="form-control mt-2">
                        <small *ngIf="projectForm.controls['projectdesc'].dirty && projectForm.hasError('required','projectdesc')" class="text-danger">*project description is required</small>
                    </div>
                    <div class="project11 button1">
                        <button (click)="onUpload()">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>