.sai{
    background-image: url(/assets/images/image3.jpg);
    color: white;
}
.sai .postideas{
    /* mix-blend-mode: multiply; */
}

.sai .postideas1{
    border: 2px solid grey;
    margin: 55px 0 55px 0;
    padding: 30px;
    border-radius: 10px;
}
.sai .postideas1 button{
   float: right;
   border-radius: 8px;
   font-weight: 900;
}
.sai .postideas1 button:hover{
    background-color: burlywood;
    color: black;
    
 }
 @media (max-width:850px){
    img{
        display: none;
    }
 }
